<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py20_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# 필요한 모듈을 import
import pandas as pd # DataFrame, Series
import seaborn as sns   # 시각화(그래프) 패키지. 예제 데이터 프레임

# tips DataFrame

In [20]:
# seaborn 패키지의 'tips' 예제 데이터셋을 로드
tips = sns.load_dataset('tips')

In [21]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [22]:
# DataFrame의 모양(shape)
tips.shape

(244, 7)

In [23]:
# DataFrame의 컬럼 이름들
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [24]:
# DataFrame의 행 인덱스
tips.index

RangeIndex(start=0, stop=244, step=1)

In [25]:
# DataFrame의 첫 5개 행을 출력
tips.head() # argument n의 기본값 = 5

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [26]:
tips.iloc[:5]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [27]:
# DataFrame에서 마지막 5개 행 출력
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [28]:
tips.iloc[-5:]

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [29]:
# DataFrame의 연속형 변수(숫자 타입)들의 기술 통계량
tips.describe

<bound method NDFrame.describe of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [32]:
# 카테고리 타입 변수 요약 - 빈도수
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [34]:
tips['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [35]:
tips['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [37]:
tips['time'].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [38]:
# total_bill(영수증 금액)이 최대값인 행을 출력
tips[tips['total_bill'] == tips['total_bill'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [39]:
# total_bill이 최소값인 행을 출력
tips[tips['total_bill'] == tips['total_bill'].min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [40]:
# total_bill이 최대값이거나 최소값인 행을 출력
tips[ (tips['total_bill'] == tips['total_bill'].max()) | 
     (tips['total_bill'] == tips['total_bill'].min()) ]

     total_bill   tip     sex smoker  day    time  size
67         3.07   1.0  Female    Yes  Sat  Dinner     1
170       50.81  10.0    Male    Yes  Sat  Dinner     3

성별 팁의 차이가 있을까?

In [54]:
# 남성들의 팁의 평균
tips[tips['sex']=='Male']['tip'].mean()

3.0896178343949052

In [53]:
# 여성들의 팁의 평균
tips[tips['sex']=='Female']['tip'].mean()

2.833448275862069

In [55]:
# 남성들의 팁의 최대값
tips[tips['sex']=='Male']['tip'].max()

10.0

In [58]:
# 여성들의 팁의 최대값
tips[tips['sex']=='Female']['tip'].max()

6.5

In [59]:
# 성별 컬럼의 중복되지 않는 값들
tips['sex'].unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [61]:
# 성별 팁의 평균
for s in tips['sex'].unique():  # for s in ['Female', 'Male']:
    subset = tips[tips['sex'] == s] # 성별 부분집합 (DataFrame)
    tip_mean = subset['tip'].mean() # 성별 팁의 평균
    print(f'{s} {tip_mean}')    # 결과 출력

Female 2.833448275862069
Male 3.0896178343949052

In [62]:
tips.groupby(by='sex')['tip'].mean()

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

In [63]:
# 흡연 여부별 팁의 평균
tips.groupby(by='smoker')['tip'].mean()

smoker
Yes    3.008710
No     2.991854
Name: tip, dtype: float64

In [64]:
# 요일별 팁의 평균
tips.groupby(by='day')['tip'].mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

In [66]:
# 소수점 자리수 반올림 round(data, 자리수)
round(tips.groupby(by='day')['tip'].mean(),2)

day
Thur    2.77
Fri     2.73
Sat     2.99
Sun     3.26
Name: tip, dtype: float64

성별, 흡연여부별 팁의 차이가 있을까?

In [68]:
round(tips.groupby(by=['sex', 'smoker'])['tip'].mean(),2)

sex     smoker
Male    Yes       3.05
        No        3.11
Female  Yes       2.93
        No        2.77
Name: tip, dtype: float64

In [69]:
round(tips.groupby(by=['sex', 'day'])['tip'].mean(),2)

sex     day
Male    Thur    2.98
        Fri     2.69
        Sat     3.08
        Sun     3.22
Female  Thur    2.58
        Fri     2.78
        Sat     2.80
        Sun     3.37
Name: tip, dtype: float64

# 여러가지 다양한 groupby

In [70]:
# 성별 total_bill과 tip의 평균
tips.groupby(by='sex')[['total_bill', 'tip']].mean()

        total_bill       tip
sex
Male     20.744076  3.089618
Female   18.056897  2.833448

In [72]:
# 성별, 흡연 여부별 total_bill과 tip의 평균
round(tips.groupby(by=['sex', 'smoker'])[['total_bill', 'tip']].mean(), 2)

               total_bill   tip
sex    smoker
Male   Yes          22.28  3.05
       No           19.79  3.11
Female Yes          17.98  2.93
       No           18.11  2.77

In [75]:
# 성별 팁의 평균, 최대값, 최소값
tips.groupby(by='sex')['tip'].agg(['mean', 'max', 'min'])   # aggregate

            mean   max  min
sex
Male    3.089618  10.0  1.0
Female  2.833448   6.5  1.0

In [76]:
import numpy as np

In [77]:
tips.groupby(by='sex')['tip'].agg([np.mean, np.max, np.min])

            mean  amax  amin
sex
Male    3.089618  10.0   1.0
Female  2.833448   6.5   1.0

In [81]:
# 성별, 요일별 팁의 평균, 표준편차
round(tips.groupby(by=['sex', 'day'])['tip'].agg([np.mean, np.std]),2)

             mean   std
sex    day
Male   Thur  2.98  1.35
       Fri   2.69  1.14
       Sat   3.08  1.79
       Sun   3.22  1.27
Female Thur  2.58  1.11
       Fri   2.78  0.94
       Sat   2.80  1.23
       Sun   3.37  1.14

In [83]:
# 성별, 요일별, 영수증 금액과 팁의 평균, 표준편차
round(tips.groupby(by=['sex', 'day'])[ 'total_bill', 'tip'].agg([np.mean, np.std]),2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

            total_bill          tip
                  mean    std  mean   std
sex    day
Male   Thur      18.71   8.02  2.98  1.35
       Fri       19.86  10.02  2.69  1.14
       Sat       20.80   9.84  3.08  1.79
       Sun       21.89   9.13  3.22  1.27
Female Thur      16.72   7.76  2.58  1.11
       Fri       14.15   4.79  2.78  0.94
       Sat       19.68   8.81  2.80  1.23
       Sun       19.87   7.84  3.37  1.14